[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 13.0

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 13.0

[submodule "OCA/edi"]
	path = OCA/edi
	url = git@github.com:OCA/edi.git
	branch = 13.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 13.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 13.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "OCA/community-data-files"]
	path = OCA/community-data-files
	url = git@github.com:OCA/community-data-files.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 13.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 13.0

[submodule "OCA/project-reporting"]
	path = OCA/project-reporting
	url = git@github.com:OCA/project-reporting.git
	branch = 13.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0

[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 13.0

[submodule "OCA/hr-attendance"]
	path = OCA/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 13.0

[submodule "OCA/hr-holidays"]
	path = OCA/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 13.0

[submodule "OCA/hr-expense"]
	path = OCA/hr-expense
	url = git@github.com:OCA/hr-expense.git
	branch = 13.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 13.0
