.o_web_client .mis_builder_amount {
    text-align: right;
}

.o_web_client .mis_builder_collabel {
    text-align: center;
}

.o_web_client .mis_builder_rowlabel {
    text-align: left;
}

.o_web_client .mis_builder a {
    /* we don't want the link color, to respect user styles */
    color: inherit;
}

.o_web_client .mis_builder a:hover {
    /* underline links on hover to give a visual cue */
    text-decoration: underline;
}

.oe_mis_builder_content {
    padding: 10px;
}

.oe_mis_builder_analytic_filter_box {
    padding-bottom: 10px;
}

/** */
* {
    box-sizing:border-box;
  }
  
  table#table_custom_drilldown tbody tr[class*='child'] {
    border-spacing:0;
    border-collapse: collapse;
    height: 0;
    visibility: hidden;
    display: none;
  }
  
  table#table_custom_drilldown tbody tr.parent td{
    cursor: pointer;
    font-weight: 700;
    text-indent: 1em;
  }

  table#table_custom_drilldown tbody tr.parent td .fa.fa-caret-right::before{
      content: "\f0da";
  }

  table#table_custom_drilldown tbody tr.parent.open td .fa.fa-caret-right::before{
    content: "\f0d7";
  }
  
  table#table_custom_drilldown tbody tr[class*='child'].expand{
    transition: height, padding .3s ease;
    padding:0 10px;
    text-indent: 3em;
    display: table-row;
    visibility: visible;
    height: auto;
  }

  table#table_custom_drilldown tbody tr[class*='child'].expand td:first-child{
    text-indent: 3em!important;
  }

  table#table_custom_drilldown tbody tr[class*='child'] td a{
    font-weight: 700;
    color:#008784;
  }